@import "variables";

/*  con font-size 62.5 tengo que 1 rem = 10 px, en vez de 16px por default*/
*{  
    margin: 0;
    padding: 0;
}

$font-sizes:(ceroSeis:0.6rem, ceroSiete:0.7rem, ceroNueve:0.9rem, uno:1rem, unoDos:1.2rem, unoTres:1.3rem, unoCuatro:1.4rem, unoCinco:1.5rem, unoSeis:1.6rem, dos:2rem, dosCinco:2.5rem, tres:3rem, veintiCinco:25px);


@mixin flexs ($disp, $flex, $just) {
    display:$disp;
    flex-direction: $flex;
    justify-content: $just;
}

// El footer es común en todas las páginas, tiene los 2 primeros caracteres en xx

// --------------------------------------------------desde 992 hasta 1200------------------------------------------------/
.container{ 
    margin: 20px auto;
    font-family: 'Dancing Script', cursive; 
    font-size:62.5%;
    position: relative;
    height: 122rem;
}
.fotoFondo{
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    filter:opacity(40%);

}
.header{ 
    padding: 1%;
    @include flexs (flex, row, space-between);
    align-items: baseline;
    position: relative;
    flex-wrap: wrap;
}
.logo_img{  
    width: 12rem;
    height: 12rem;
}
.header__menu ul{   
     @include flexs (flex, row, center);
     text-align: right;
     line-height: 90px;
     li{  
        list-style: none;
        a{  
            font-size:map-get($font-sizes, unoTres);
            text-decoration: none;
            color: black;
            font-style: italic;
            display:block;
            float: left;
            padding: 8px;
            text-shadow: -2px 2px 7px #000;
            &:hover{  
                    background-color: rgb(243, 166, 224);
                   }
          }

       }
}

.iframe{    

    @include flexs (flex, row, flex-start);
    margin-left: 30px;
    img{    
        width: 30rem;
        height: 30rem;
        border:  #000 0.1rem solid ;
        position: relative;
        transition: all 2s;
        &:hover{
                transform: scale(1.1);
                }
        }
}

.vacio{ 
    height: 370px;
    width: 400px;
    text-align: center;
    font-size:map-get($font-sizes, dos);
    line-height: 100px;
    border: #000 0.2rem solid;
    position: relative;
}
.Parrafo1{   
    position: relative;
    @include flexs (flex, row, left);
    flex-wrap: wrap;
}
.Parrafo1__header {   
    height: 60px;
    margin-top: 30px;
    position: relative;
    
} 
.Parrafo1__titulo{   
    width: 100%;
    height: 80px;
    font-size:map-get($font-sizes, dos);
    margin-left: 20px;
}

.Parrafo1__p{ 
    width: 100%;
    margin: auto;
    margin-top: 20px;
    padding: 10px 30px;
    font-size:map-get($font-sizes, uno);
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    height: 30rem;
    text-align: justify;
    background-color: $coloropacidad;
}
.Parrafo2{  
    position: relative;
    @include flexs (flex, row, left);
    flex-wrap: wrap;
}
.Parrafo2__header{   
    height: 60px;
    margin-top: 30px;
    position: relative;
}
.Parrafo2__titulo{   
    width: 100%;
    height: 80px;
    font-size:map-get($font-sizes, dos);
    margin-left: 20px;
}

.Parrafo2__p{ 
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px 30px;
    font-size:map-get($font-sizes, uno);
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20rem;
    text-align: justify;
    background-color: $coloropacidad;
}
.encuesta{   
    display: flex;
    align-items: center;
    a{   
        margin-top: 10px ;
        background-color: aquamarine;
        color: black; 
        font-size:map-get($font-sizes, uno);
        font-family: Arial, Helvetica, sans-serif;
        width: 230px;
        text-decoration: none;
        text-align: center;
        line-height: 40px;
        position: relative;
        height: 40px;
        border-color:rgb(243, 166, 224);
        border-style: solid;
     }
}
.encuesta__titulo{  
    width: 60%;
    line-height: 150px;
    font-size:map-get($font-sizes, dosCinco);
    display: inline;
}



.icon-facebook, .icon-instagram, .icon-linkedin{ 
    display: inline-block;
    padding: 5px;
    font-size:map-get($font-sizes, veintiCinco);
    color: black;
}


/*---------------------------  página quiensoy---------------------- */

.qs__titulo{
    width:70% ;
    text-align: center;
    font-size:map-get($font-sizes, dos);

    font-style: italic; 
}
.qs__titGral, .pa__titGral, .em__titGral{   
    display: inline-block;
    margin-left: 180px;
    margin-top: 20px;
    font-size:map-get($font-sizes, dosCinco);
    font-style: italic; 
    font-weight: bold;
  
}
.qs__iframe{ 
    @include flexs (flex, row, flex-start);
    margin-top: 40px;
    
}
.qs__iframe img, .pa__iframe img, .em__iframe img{    
    width: 30rem;
    height: 40rem;
    border: #000 0.2rem solid;
    position: relative;
    transition: all 2s;
}

.qs__iframe img:hover, .pa__iframe img:hover, .em__iframe img:hover{    
    transform: scale(1.1);
}
.qs__global, .em__global{    
    margin: auto;
    margin-top: 30px;
    padding: 50px 30px;
    position: relative;
    // font-size: 1.4rem;  /*esto equivale a 15px */
    font-size:map-get($font-sizes, unoCuatro);
    width: 100%;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    height: 35rem;
    text-align: justify;
    background-color:  $coloropacidad;
}

.qs__turnos{
    width: 100%;
    text-align: left;
    margin-top: 50px;
    font-size:map-get($font-sizes, dos);
    font-style: italic; 
    position: relative;
    margin-left: 30px;
    height: 200px;
    display: flex;
    align-items: center;
}
.qs__vacio{ 
    height: 250px;
}
.qs__global .qs__negrita{ 
    font-weight: bold;
    font-size:map-get($font-sizes, unoSeis);
}
.xx__footer{   
    height: 150px;
    position: relative;
    background-color: $coloropacidad;
    @include flexs (flex, row, space-between);
    align-items: center;
}
.xx__footer__p{ 
    font-size:map-get($font-sizes, unoCinco);
    color: black;
    line-height: 30px;
    text-align: left;
}
.xx__footer__contacto{  
    display: inline-block;
    width: 120px;
    height: 50px;
    color: black;
    line-height: 30px;
    text-align: center;
    margin-left: 100px; 
    background-color: aquamarine;
    font-size:map-get($font-sizes, uno);
    font-family: Arial, Helvetica, sans-serif;
    border-color:rgb(243, 166, 224);
    border-style: solid;
    a{  
        line-height: 50px;  
        text-decoration: none;
      }
}
.xx__footer__leyendas{
    display: inline-block;
    width: 150px;
    height: 30px;
    margin-left: 180px;
    margin-bottom: 20px;
    p{  
    text-align: center;
    font-size:map-get($font-sizes, unoCuatro);

    }
    iconos{  
        width: 150px;
        height: 50px;
        text-align: center;
        margin-top: 10px;
    }
}
/* ------------------------página de encuesta---------------- */

.en__titGral1{ 
    @extend .qs__titGral;
    margin-top: 40px;
}
.en__titGral2{ 
    @extend .en__titGral1;
    margin-left: 250px;
}
.en__cuerpo{ 
    width: 100%;
    height: 1300px;
    margin-top: 60px;
    position: relative;
    @include flexs (flex, column, flex-start);
}

.en__tituloLabel{
    font-style: normal;    
    font-size:map-get($font-sizes, dos);
    font-weight: bold;
    color: black;
    margin-top:15px;
    margin-left: 20px;
}

.radio{    
    font-size:map-get($font-sizes, dos);
    font-weight: bold;
    color: black;
    margin-left: 20px;
}

input[type=radio] { border: 0px; width: 2%; height: 1em; }

.en__vacio{ 
    height: 50px;
}
.en__vacio1{ 
    height: 25px;
}

.agrandarTamaño{    
    font-size:map-get($font-sizes, dos);

}

.en__submit{   
    width: 300px;
    text-align: center;
    display: inline-block;
}   
.en__boton{ 
    color: black;
    display: inline-block;
    font-size:map-get($font-sizes, dos);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0px;
    width: 450px;
    text-decoration: none;
    text-align: center;
    background-color: aquamarine;
    border-color:rgb(243, 166, 224);
    border-style: solid;
}   
 

/* ----------------------página biblioteca----------------- */

.bl__titGral{   
    margin-left: 250px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size:map-get($font-sizes, dosCinco);
    font-style: italic; 
    color: black;
    position: relative;
}

.bl__global{   
    width: 90%;
    height: 1400px;
    overflow: scroll;
    position: relative;
    padding: 0px 30px;
    margin-bottom: 60px;
}
.bl__tituloLibro{  
    width: 100%;
    margin: auto;
    margin-top: 30px;
 
    text-align: center;
    font-size:map-get($font-sizes, dos);
}   
.bl__tituloAutor{    
    width: 100%;
    margin: auto;
    margin-top: 10px;

    margin-top: 10px;
    text-align: center;
    font-size:map-get($font-sizes, unoCinco);
    
    
}
.bl__tituloRaya{    
    text-align: center;
    width: 15%;
    margin: auto;
    color: rgb(237, 231,238);
    margin-top: 10px;
}
.bl__descpLibro{    
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:map-get($font-sizes, unoCinco);

}
.bl__linkLibro{ 
    background-color: aquamarine;
    border-color:rgb(243, 166, 224);
    border-style: solid;
    color: white;
    font-size:map-get($font-sizes, unoCinco);
    padding: 10px 0px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    line-height: 10px;
}
.libros a{  
    display: block;
    margin: auto;
    width: 200px;
}
.bl__vacio{ 
    height: 60px;
}
/* -----------------------página Particulares------------- */

.pa__iframe{ 
    @include flexs (flex, row, flex-start);
    margin-top: 40px;
}
.pa__global{    
    width: 100%;
    height: 47rem;
    line-height: 20px;
    padding-top: 15px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size:map-get($font-sizes, unoDos);
    margin-top: 30px;
    background-color:  $coloropacidad;
    margin: auto;
    text-align: left;
}


.pa__turnos{
    width: 100%;
    text-align: left;
    font-size:map-get($font-sizes, Tres);
    font-style: italic; 
    position: relative;
    margin-left: 30px;
    margin-top: 60px;
    margin-bottom: 20px;
    height: 100px;
}
.pa__vacio{ 
    height:150px ;
}
/*-------------------------- pagina Empresas-------------- */

.em__iframe{ 
    @include flexs (flex, row, flex-start);
    margin-top: 40px;
    
}
.em__turnos{
    @extend .qs__turnos;
    margin-top: 15px;
}
.em__vacio{ 
    height: 200px;
}

/*---------------------------- pagina de contacto------------- */

.co__global{   
    width: 100%;
    height: 1600px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.co__tituloLabel{
    font-style: normal;    
    font-size:map-get($font-sizes, dos);
    font-weight: bold;
    color: black;
    display: block;
    line-height: 60px;
    margin-left: 30px;
}
.co__caja{ 
    width: 300px;
    line-height: 50px;
    border: 1px;
    background-color:rgb(203, 247, 232) ;
    margin-left: 30px;
    padding-left: 20px;
}
.co__caja:hover{
    background-image: linear-gradient(rgb(203, 247, 232), rgb(243, 184, 228));
}
.co__caja:focus{
    box-shadow: 10px 5px 5px black;
    transform: translate(50px,0);
    transition: 2s;
    transform: scaleX(1.1);
    outline: none;
    background-color: #dfe;
    border: 0;
    background-image: linear-gradient(rgb(203, 247, 232), rgb(243, 203, 233));
}
.co__caja1{ 
    width: 470px;
    height: 200px;
    background-color:rgb(203, 247, 232) ;
    margin-left: 30px;
    padding-left: 20px;
}
.co__caja1:hover{
    background-image: linear-gradient(rgb(203, 247, 232), rgb(243, 184, 228));
}
.co__caja1:focus{
    box-shadow: 10px 5px 5px black;
    transform: translate(50px,0);
    transition: 2s;
    transform: scaleX(1.1);
    outline: none;
    background-color: #dfe;
    border: 0;
    background-image: linear-gradient(rgb(203, 247, 232), rgb(243, 203, 233));
}
.co__botones{   
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}
.co__boton{ 
    @extend .en__boton;
    font-size:map-get($font-sizes, uno);
    width: 80px;
    margin-left: 30px;
}  

input[type=text] { border: 1px; font-size: 1.2rem; }

textarea { border: 1px; font-size: 1.2rem; }


.co__submit{    
                    width: 80px;
    height: 50px;
    color: black;
    line-height: 30px;
    text-align: center;
    display: inline-block;      
    margin-top: 50px;
} 
.co__reset{    
    width: 80px;
    height: 50px;
    text-align: center;
    display: inline-block;  
    margin-left: 220px; 
    margin-top: 50px;
  
} 
/*-----------------------------------------------------tamaño entre 781 y 991 ----------------------------------------------*/
@media screen and (min-width:781px) and (max-width:991px) {

    .iframe img{    
        width: 20rem;
        height: 20rem;
     }
    .header__menu ul li a{ 
        font-size:map-get($font-sizes, unoDos);
     }
    .qs__global { 
        height: 45rem;
    }
    .qs__vacio{ 
       height: 100px;
    }
    .qs__turnos{  
       height: 100px;
       font-size:map-get($font-sizes, dos);
    } 
    .xx__footer__contacto{  
       margin-left: 0px;
    }
    .pa__global{ 
       height: 52rem;
    }
    .em__global{    
        height: 45rem;
    }
    .em__turnos{    
        margin-top: 72px;
    }
 
}
/*------------------------------------------------------ tamaño entre 768 y 780-------------------------------------- */
@media screen and (min-width:768px) and (max-width:780px) {
    .header{ 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .logo_img{   
        width: 10rem;
        height: 10rem;
    } 
        
    .header__menu{   
        height: 60px;
        align-items: flex-start;
    }
    .header__menu ul{  
        display: flex; 
        line-height: 2px;
    }
    .header__menu ul li a{  
        font-size:map-get($font-sizes, uno);
        padding: 8px;
    }
    .pa__iframe img{    
        width: 20rem;
        height: 20rem;
    }
    .pa__turnos, .em__turnos{ 
        margin-top: 50px;
    }
    .pa__global{   
        height: 50rem;
    }
    .qs__global, .em__global{ 
        height: 45rem;
    }
    .qs__turnos{ 
        height: 100px;
    }
    .qs__vacio, .em__vacio{ 
        height: 150px;
    }
    .xx__footer__contacto{ 
        margin-left: 0px;
    }
  
}
/*-------------------------------------------------------tamaño entre 761 y 767------------------------------------------ */
@media screen and (min-width:761px) and (max-width:767px) {
        .header{ 
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .logo_img{   
            width: 10rem;
            height: 10rem;
        } 
        .header__menu{   
            height: 60px;
            align-items: flex-start;
        }
        .header__menu ul{  
            display: flex; 
            line-height: 2px;
        }
        .header__menu ul li a{  
            font-size:map-get($font-sizes, uno);
            padding: 8px;
        }
        .Parrafo1__p{   
            line-height: 17px;
            height: 32rem;
        }
        .Parrafo2__p{   
            line-height: 17px;
            height: 16rem;
        }
        .pa__iframe img{    
            width: 17rem;
            height: 17rem;
        }
        .pa__global{ 
            height: 40rem;
        }
        .pa__global p{   
            font-size:map-get($font-sizes, ceroNueve);
        }
        .pa__turnos{    
            margin-top: 50px;
            margin-left: 10px;
        }
        .pa__vacio{ 
            height: 385px;
        }
        .qs__global{    
            height: 40rem;
        }
        .em__global{    
            height: 42rem;
        }
        .qs__global p, .em__global p{   
            font-size:map-get($font-sizes, ceroNueve);
        }
        .xx__footer__contacto{  
            margin-left: 0px;
        }
        .qs__turnos, .em__turnos{ 
            height: 50px;
            font-size:map-get($font-sizes, dos);
        }
        .em__turnos{    
            margin-top: 40px;
        }
        .qs__vacio{ 
            height: 110px;
        }
        .em__vacio{ 
            height: 140px;
        }
        .encuesta{  
            height: 100px;
        }
        .encuesta__titulo{ 
            width: 55%;
            font-size:map-get($font-sizes, unoSeis);
            line-height: 30px;
         }
       
        .encuesta a{   
            margin-top: 0px;
            font-size:map-get($font-sizes, ceroNueve);
            // margin-right: 70px; 
            width: 154px;   
         }
      
}



/*------------------------------------------------------tamaño entre 500 y 760------------------------------------------- */
@media screen and (min-width:500px) and (max-width:760px) {
    
    .header{ 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .logo_img{   
        width: 10rem;
        height: 10rem;
       } 
     
    .header__menu{   
        height: 60px;
        align-items: flex-start;
     
    }
    .header__menu ul{  
        display: flex; 
        line-height: 2px;
     
    }
    .header__menu ul li a{  
        font-size:map-get($font-sizes, uno);
        padding: 8px;
    }
    .iframe img{    
        width: 15rem;
        height: 15rem;
     }
    .Parrafo1__p{ 
        line-height: 15px;
        height: 500px;   
    }
    .Parrafo2__p{    
        line-height: 15px;
    }
    .encuesta{  
        height: 235px;
    }
    .encuesta__titulo{ 
        width: 55%;
        font-size:map-get($font-sizes, unoSeis);
        line-height: 30px;
     }
   
    .encuesta a{   
        margin-top: 0px;
        font-size:map-get($font-sizes, ceroNueve);
        margin-right: 70px; 
        width: 154px;   
        margin-right: 50px;
    }
  
 
    .xx__footer__contacto a{  
        line-height: 40px;
    }

    .co__caja{ 
        width: 250px;
        line-height: 50px;
    }
    .co__caja1{ 
        width: 400px;
        height: 200px;
    }
    .co__botones{  
        display: flex; 
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
 
    .bl__global{ 
        height: 1375px;
        margin-right: 130px;
    }
    .libros .bl__tituloLibro{   
        margin-right: 130px;
    }
    .pa__iframe img{    
        width: 16rem;
        height: 16rem;
     }
    .pa__global{ 
        height: 50rem;
    }
    .pa__global p{   
        font-size:map-get($font-sizes, ceroSiete);
    }
    .pa__turnos{    
        margin-top: 140px;
        margin-left: 15px;
    }
    .pa__vacio{ 
        height: 250px;
    }
    .qs__iframe img, .em__iframe img{    
        width: 300px;
        height: 400px;
     }
    .qs__global{ 
        height: 52rem;
        font-size:map-get($font-sizes, unoTres);
    }
    .qs__turnos{    
        height: 140px;
        font-size:map-get($font-sizes, unoSeis);
    }
    .qs__vacio{    
        height: 210px;
    }
    .em__global{    
        height: 55rem;
        font-size:map-get($font-sizes, unoDos);
    }
    .em__vacio{ 
        height: 200px;
    }
    .em__turnos{   
        margin-top: 100px;
        height: 100px;
        font-size:map-get($font-sizes, unoSeis);
    }
  
    
 }
  /* --------------------------------------------------tamaño entre 480 y 499--------------------------------------------- */
    @media screen and (min-width:480px) and (max-width:499px) {
    .header{ 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .logo_img{   
        width: 8rem;
        height: 8rem;
    } 
    .header__menu{   
        height: 60px;
    }
    .header__menu ul{  
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        line-height: 2px;
        li{ 
            a{
                font-size:map-get($font-sizes, ceroSiete);
                padding: 8px;
            }
        }
    }
  
    .Parrafo1__p{   
        height: 45rem;
    }
    .Parrafo2__titulo{  
        margin-top: 40px;
    }
    .encuesta__titulo{ 
        width: 55%;
        font-size:map-get($font-sizes, unoSeis);
        line-height: 30px;
     }
   
    .encuesta a{   
        margin-top: 0px;
        font-size:map-get($font-sizes, ceroNueve);
        width: 154px;   
     }
  
    .qs__global, .em__global{    
        height: 60rem;
        font-size:map-get($font-sizes, unoDos);
    }
    .qs__turnos{    
        height: 50px;
        font-size:map-get($font-sizes, unoSeis);
    }
    .qs__vacio{ 
        height: 0px;
    }
    .xx__footer{    
        height: 250px;
    }
 
    .xx__footer__p{ 
        height: 70px;
    }
    .xx__footer__contacto{  
        margin-right: 20px;
        height: 50px;
        color: black;
        line-height: 30px;
        text-align: center;
        background-color: aquamarine;
        font-size:map-get($font-sizes, uno);
        font-family: Arial, Helvetica, sans-serif;
        border-color:rgb(243, 166, 224);
        border-style: solid;
    }
    .xx__footer__contacto a{  
        line-height: 50px;  
        text-decoration: none;
    }
    .xx__footer__leyendas{  
        margin-top: 10px;
        margin-left: 100px;
    }
    .pa__iframe img{    
        width: 16rem;
        height: 16rem;
     }
    .pa__global{ 
        height: 50rem;
    }
    .pa__global p{   
        font-size:map-get($font-sizes, ceroSiete);
    }
    .pa__turnos{    
        margin-top: 40px;
        margin-left: 15px;
    }
    .co__global{    
        height: 1100px;
    }
    .fotoFondo{    
        display: none;
    }
 }
 /* ----------------------------------------------------tamaño entre 400 y 479------------------------------------------ */
    @media screen and (min-width:400px) and (max-width:479px) {

    .header{ 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .logo_img{   
        width: 8rem;
        height: 8rem;
    } 
    .header__menu{   
        height: 60px;
    }
    .header__menu ul{  
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        line-height: 2px;
        li{ 
            a{  
                font-size:map-get($font-sizes, ceroSiete);
                padding: 8px; 
            }
        }
    }
  
    .Parrafo1__p{   
        height: 45rem;
    }
    .Parrafo1__p .Parrafo2__p{  
        font-size:map-get($font-sizes, ceroSeis);
    }
    .Parrafo2__titulo{  
        margin-top: 40px;
    }
    .encuesta{   
        margin-top: 30px;
    }
    .encuesta__titulo{ 
        width: 55%;
        font-size:map-get($font-sizes, unoSeis);
        line-height: 30px;
     }
   
    .encuesta a{   
        margin-top: 0px;
        font-size:map-get($font-sizes, ceroNueve);
        width: 154px;   
     }
    .qs__global{    
        height: 60rem;
        font-size:map-get($font-sizes, unoDos);
    }
    .qs__vacio{ 
        height: 100px;
    }
    .qs__turnos{    
        height: 50px;
        font-size:map-get($font-sizes, unoCuatro);
    }
  
    .xx__footer__p{ 
        margin-top: 50px;
    }
    
    .xx__footer__contacto{  
        margin-right: 20px;
        height: 50px;
        color: black;
        line-height: 30px;
        text-align: center;
        margin-left: 100px; 
        background-color: aquamarine;
        font-size:map-get($font-sizes, uno);
        font-family: Arial, Helvetica, sans-serif;
        border-color:rgb(243, 166, 224);
        border-style: solid;
    }
    .xx__footer__contacto a{  
        line-height: 50px;  
        text-decoration: none;
    }
    .xx__footer__leyendas{  
        margin-top: 30px;
        margin-left: 100px;
    }
    .pa__iframe img{    
        width: 14rem;
        height: 14rem;
     }
    .pa__global{ 
        height: 50rem;
    }
    .pa__global p{   
        font-size:map-get($font-sizes, ceroSiete);
    }
    .pa__turnos{    
        margin-top: 40px;
    }
    .co__global{    
        height: 1100px;
    }
    .co__reset{ 
        margin-left: 180px;
    }
    .em__global{    
        height: 69rem;
        font-size:map-get($font-sizes, unoDos);
    }
    .em__turnos{    
        height: 50px;
        font-size:map-get($font-sizes, unoCinco);
        margin-top: 35px;
    }
    .em__vacio{ 
        height: 108px;
    }
    .fotoFondo{    
        display: none;
    }
   
 }
 /*-----------------------------------------------------tamaño entre 300 y 399 --------------------------------------*/
 @media screen and (min-width:300px) and (max-width:399px) {
   
    .container{    
        margin: 10px auto;
    }
    .fotoFondo{    
        display: none;
     }
    .header{ 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .logo_img{   
        width: 8rem;
        height: 8rem;
    } 
    .header__menu{   
        height: 60px;
    }
    .header__menu ul{  
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        line-height: 2px;
        li{ 
            a{  
                font-size:map-get($font-sizes, ceroSiete);
                padding: 8px;
            }
        }
    }
 
    .iframe{    
        margin: auto;
        margin-top: 2rem;
        img{   
            width: 20rem;
            height: 15rem;
            &:hover { 
                transform: none;
                    }
            }
     }

     .vacio{ 
        height: 300px;
        width: 300px;
     }
     .Parrafo1__header{  
        margin: auto;
        height: 50px;
     }
     .Parrafo1__titulo{   
        font-size:map-get($font-sizes, unoCinco);
     }
     .Parrafo1__p{   
        line-height: 15px;
        padding: 0px 15px;
        height: 450px;
        font-size:map-get($font-sizes, ceroSiete);
     }
     .Parrafo2__header{  
        margin: auto;
        margin-top: 40px;
     }
     .Parrafo1__titulo{   
        margin-top: 10px;
     }
     .Parrafo2__p{   
        line-height: 15px;
        padding: 0px 15px;
        height: 250px;
        font-size:map-get($font-sizes, ceroSiete);
     }
     .encuesta{   
        @include flexs (flex, row, center);
        margin: auto;
        flex-wrap: wrap;
        align-items: center;
     }
     .encuesta__titulo{  
        width: 100%;
        margin: auto;
        font-size:map-get($font-sizes, unoCinco);
        line-height: 20px;
     }
 
    .iconos{    
         width: 100%;
         margin: auto;
         margin-left: 100px;

     }
    .co__global{    
        height: 1000px;
    }
    .co__caja{ 
        width: 200px;
        line-height: 50px;
    }
    .co__caja1{ 
        width: 300px;
        height: 250px;
    }

    .en__titGral1, .en__titGral2{ 
        font-size:map-get($font-sizes, unoCinco);
    }
 
    .en__boton{ 
        width: 300px;
        font-size:map-get($font-sizes, unoSiete);
    }
    .co__boton{ 
        width: 80px;
        font-size:map-get($font-sizes, unoSiete);
    }
    .co__reset{ 
        margin-left: 88px;
    }
    .agrandarTamaño{    
        font-size:map-get($font-sizes, unoSeis);
    }
  
    .qs__titGral{ 
        display: inline-block;
        font-size:map-get($font-sizes, unoCinco);
        margin-left: 100px;
    }

    .qs__iframe, .em__iframe{    
        margin: auto;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        padding:0px 10px;
    }

    .qs__iframe img, .em__iframe img{    
        width: 200px;
        height: 300px;
        &:hover{    
            transform: none;
        }
     }
    .qs__global{ 
        height: 60rem;
        margin-top: 90px;
        line-height: 20px;
        padding: 0px 15px;
        font-size:map-get($font-sizes, uno);
    }

    .pa__global{ 
        height: 67rem;
    }
    .pa__global p{   
        font-size:map-get($font-sizes, ceroSeis);
    }
    .pa__titGral{ 
        display: inline-block;
        font-size:map-get($font-sizes, unoCinco);
        margin-left: 100px;
    }
    .pa__iframe{    
        margin: auto;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        padding:0px 10px;
    }

    .pa__turnos{    
        margin-top: 40px;
        margin-left: 5px;
    }
    .pa__iframe img{    
        width: 14rem;
        height: 14rem;
        &:hover{    
            transform: none;
        }
     }
    .pa__turnos{    
        margin-top: 40px;
    }
    
    .qs__turnos{ 
        font-size:map-get($font-sizes, unoCinco);
        margin-left: 5px;
    }
    .qs__vacio{ 
        height: 0px;
    }
    .xx__footer{    
        height: 200px;
    }
  
    .xx__footer__p{ 
        width: 100%;
        height: 80px;
        font-size:map-get($font-sizes, unoCuatro);
    }
    .xx__footer__contacto{  
        height: 50px;
        color: black;
        line-height: 30px;
        text-align: center;
        background-color: aquamarine;
        font-size:map-get($font-sizes, uno);
        font-family: Arial, Helvetica, sans-serif;
        border-color:rgb(243, 166, 224);
        border-style: solid;
        margin: auto;
    }
    .xx__footer__contacto a{  
        line-height: 50px;  
        text-decoration: none;
    }
    .xx__footer__leyendas{  
        display: block;
        margin-top: 30px;
        margin-left: 100px;
        .iconos{    
            margin-left: 0px;
        }
    }
 
    .bl__titGral{   
        margin-left: 50px;
    }
    .em__global{ 
        height: 70rem;
    }
    .em__titGral{ 
        display: inline-block;
        font-size:map-get($font-sizes, unoCinco);
        margin-left: 100px;
    }
    .em__global p{
        font-size:map-get($font-sizes, ceroSiete);
    }
    .em__turnos{ 
        height: 145px;
        margin-top: 0px;
        font-size:map-get($font-sizes, unoSeis);
        margin-left: 5px;
    }
    .em__vacio{ 
        height: 0px;
    }
    .encuest{   
        height: 130px;
    }
    
}
